*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 70px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.logo{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    padding: 0.8rem 1rem;
}

nav a:hover {
    color: #fdcc04;
  }

.hero{
    background: #fdcc04;
}

.nav-items{
    padding: 0.4rem 0.4rem;
    border-radius: 20px;
    background: #fdcc04;
  
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px)/2);
}

.coluna-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 0rem;
}

.coluna-esquerda h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
}

.coluna-esquerda p {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    line-height: 1.2;
}

.linkedin-button{
    padding: 0.3rem 1rem;
    font-size: 2.1rem;
    border: none;
    color: #fff;
    background: #0D93DC;
    transition: 0.5s;
    border-radius: 50px;
    cursor: pointer;
}

.linkedin-button:hover {
    background:#000;
    color: #fff;
   }

.linkedin-logo{
    display: inline;
    height: 2.9vh;
    align-items: center;
    justify-content: space-between;

}

.github-button{
    padding: 0.3rem 1rem;
    font-size: 2.1rem;
    border: none;
    color: #fff;
    background: #000;
    transition: 0.5s;
    border-radius: 50px;
    cursor: pointer;
}

.github-button:hover {
    background: #fff;
    color: #000;
   }

.github-logo{
    display: inline;
    height: 2.9vh;
    align-items: center;
    justify-content: space-between;

}

.coluna-direita {
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
    padding-left: 7vw;
       
 }

.hero-imagem {
    width: 120%;
    height: 120%;
    
}


@media screen and (max-width: 720px){
    .sobre-container{
        grid-template-columns: 1fr;
   }

    nav {
        height: 100px;
        background: #000;
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0 10vh 0 10vh;
        

    }

    .logo{
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        padding-left: 10vw;
        padding-right: 10vw;
        justify-items: center;
    }

    .nav-items{
        border-radius: 20px;
        background: #fdcc04;
        padding: 0.2rem 0.4rem;
            
    }
    nav a {     
        padding: 0.4rem 0.3rem;
    }

    .hero-imagem {
        width: 50%;
        height: 50%;
        
     }
}
